/* phần đầu */
#page-top
{
	width: 100%;
	display: flex;
}
.manage
{
	list-style: none;
	display: flex;
	background-color: #343a40;
	margin-top: 5%;
}
/* phần quản lý */
/* phần của người sử dụng */
.manage2
{
	z-index: 9 !important;
  	position: fixed;
}
.manage2 .user-circle
{
  color: #A4A4A4;
}
.manage2 .user-circle1
{
  color: #A4A4A4;
}
/* phần bên trong sau khi ấn */
.manage2 .action2
{
  width: 300px;
  margin-top: 7%;
  border: 0.5px solid ;
  background-color: white;
  border-radius: 5px;
  padding-right: 70%;
  font-size: 13px;
  font-weight: bolder;
}
.manage2 .action2 .menu2 
{
  margin: 10px;

}
.manage2 .action2 .menu2 a
{
	text-decoration: none;
  	width: 100%;
  	height: 40px;
  	color: black;
}




/* phần main */
.main ul
{
	display: flex;
	border: 1px solid #012b64;
	background-color: #012b64;
	height: 30px;
}
.main li
{
	list-style: none;
	margin-right: 4%;
}
.main a
{
	text-decoration: none;
	color: #D8D8D8;
}
.main li:hover
{
	background-color: #819FF7;
}




/* phần menu main */
.melu ul
{
	display: flex;
}
.melu li
{
	list-style: none;
}


#bd1
{
	display: none;
}
/* phần responside */
@media only screen and (max-width: 1050px) 
{
	/* topAdmin */
	.manages 
	{
		width: 20%;
		margin-left: 80%;
		margin-top: -6%;
	}
	/* main */
	#bd1
	{
		display: none;
	}
	#bd
	{
		display: block;
	}
}