/* phần đầu */
#page-top
{
	width: 100%;
	display: flex;
}
.manages
{
	list-style: none;
	display: flex;
	background-color: #343a40;
	margin-right: 10%;
	margin-top: 3%;
}
.manages li
{
	margin-right: 55%;
}


/* phần quản lý */
/* phần thông báo */
.manage
{
  position: fixed;
}
/* màu chữ của thông báo */
.manage .bell
{
  color: #A4A4A4;
}
.manage .bell1
{
  color: #A4A4A4;
}
/* phần bên trong sau khi ấn */
.manage .action
{
  width: 200px;
  margin-top: 10%;
  margin-right: 105%;
  border: 0.5px solid #f1efef;
  background-color: white;
  border-radius: 5px;
}
.manage .action .main 
{
  margin: 15px;
}
.manage .action .main a
{
  width: 100%;
  height: 40px;
}

/* phần email */
.manage1
{
  position: fixed;
}
/* màu chữ của thông báo */
.manage1 .envelope
{
  color: #A4A4A4;
}
.manage1 .envelope1
{
  color: #A4A4A4;
}
/* phần bên trong sau khi ấn */
.manage1 .action1
{
  width: 200px;
  margin-top: 10%;
  margin-right: 105%;
  border: 0.5px solid #f1efef;
  background-color: white;
  border-radius: 5px;
}
.manage1 .action1 .main1 
{
  margin: 15px;
}
.manage1 .action1 .main1 a
{
  width: 100%;
  height: 40px;
}


/* phần của người sử dụng */
.manage2
{
  position: fixed;
}
/* màu chữ của thông báo */
.manage2 .user-circle
{
  color: #A4A4A4;
}
.manage2 .user-circle1
{
  color: #A4A4A4;
}
/* phần bên trong sau khi ấn */
.manage2 .action2
{
  width: 200px;
  margin-top: 10%;
  margin-right: 105%;
  border: 0.5px solid #f1efef;
  background-color: white;
  border-radius: 5px;
}
.manage2 .action2 .main2 
{
  margin: 15px;
}
.manage2 .action2 .main2 a
{
  width: 100%;
  height: 40px;
}

/* phần responside */
@media only screen and (max-width: 1050px) 
{
	.manages 
	{
		width: 20%;
		margin-left: 80%;
		margin-top: -6%;
	}
}