.header img
{
	width: 80%;
	margin-left: 10%;
}

.main
{
	margin-top: 2%;
	border-radius: 5px;
	width: 410px;
	height: 350px;
	border: 1px solid #cccccc;
	margin-left: 32%;
}
.main li
{
	list-style: none;
	display: flex;
}
.main li p
{
	font-size: 20px;
	border: 1px solid #cccccc;

}

@media only screen and (max-width: 1050px) 
{
	.main
	{
		margin-top: 2%;
		border-radius: 5px;
		width: 410px;
		height: 350px;
		border: 1px solid #cccccc;
		margin-left: 17%;
	}
}