body
{
	margin: 0px auto;
}

.wrapper
{
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 85px;
}
.login
{
	height: 370px;
	width: 550px;
	background-color: #024282;
	display: flex;
	align-items: center;
}
.main
{
	height: 330px;
	width: 100%;
	background-color: #829fbc;
}
.wrapper .top .image1 img
{
	width: 100px;
	margin-top: -15.5px;
	margin-left: 10px;
}
.wrapper .top .image2 img
{
	width: 250px;
	margin-top: 10px;
	margin-right: 15px;
}


.body
{
	border-radius: 10px;
	border: 1px solid #024282;
	background-color: #efead7;
	height: 200px;
	margin: 5px 50px;
}
.body .image img
{
	margin-left: -15px;
}
.body .image p
{
	font-size: 12px;
	font-weight: bolder;
	color: #024282;
}
.body .image .content1
{
	color: #7f0000;
	padding-left: 5px;
	margin-top: -15px;
	font-weight: bolder;
	font-size: 15px;
}
.body .image .content1 p
{
	color: #7f0000;
	padding-left: 35px;
	margin-top: -7px;
	font-size: 14px;
}


.body .content h4
{
	text-align: center;
	margin-top: 10px;
	font-weight: bolder;
	color: #a55204;
	/* tạo đổ bóng cho chữ */
	text-shadow: 4px 4px #b2b2b2;
}
.body .content form
{
	border-radius: 10px;
	border:  1px solid #024282;
	height: 130px;
	width: 270px;
	list-style: none;
	font-size: 12px;
	font-weight: bolder;
	color: #024282;
	padding-left: 10px;
}
.body .content input
{
	margin-left: 10px;
	margin-top: 15px;
	border-radius: 10px;
	border: 1px solid #56aaff;
}
/* nut đăng ký ở trang đăng nhập */
.body .content .registration
{
	margin-left: 10px;
	margin-top: 12px;
	height: 24px;
}

/* nút đăng ký ở trang đăng ký = nút đăng nhập ở trang đăng nhập*/
.body .content .login2
{
	background-color: #7070c1;
	border-radius: 10px;
	border: 1px solid #56aaff;
	margin-left: 10px;
	margin-top: 12px;
	height: 24px;
}


.footer
{
	font-size: 9px;
	color: white;
	text-align: justify;
	text-align: center;
}

@media only screen and (max-width: 1050px) 
{
	.wrapper .top .image2 img
	{
		width: 250px;
		margin-left: 235px;
		margin-top: -105px;
	}
	.body
	{
		margin-top: -20px;
	}
	.body .content
	{
		margin-left: 150px;
		margin-top: -200px;
	}
}


