/*Phần body*/
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: sans-serif;
}


/*Phần header*/
header {
    height: 600px;
}
/*Hàng 1*/
.row {
    height: 40px;
    background-color: #024282;
    width: 119%;
    padding: 0.9%;
}

/*Phần menu*/
.menu
{
    /*Cho thẻ li chung một dòng*/
    display: flex;
    /*Làm mất from của li*/
    list-style: none;
}
.menu li a
{
    color: rgba(255, 255, 255, 0.87);
    padding-left: 35px;
}
.input-group
{
    margin-top: -7px;
}

/*Hàng 2*/
.row-2 {
    height: 100px;
    width: 119%;
    background-color: white;
}
.row-2 img
{
    width: 70%;
    padding-left: 100px;
}
/*Hàng 3*/
.row-3
{
    height: 450px;
    background-color: black;
}


/*Phần main*/
main
{
    height: 500px;
    background-color: pink;
}


/*Phần footer*/
footer
{
    height: 500px;
    background-color: red;
}
